/* => Nom du site
 *
 * /sass/settings/_sizes.scss - Global sizes variables
 *
 * coded by Mucht
 */

/* 960 px / 12 */
$halfCol: 4.166666667%; // 40/960*100
$oneCol: 8.333333333%; // 80/960*100
$twoCol: 16.666666667%; // 160/960*100
$threeCol: 25%;// 240/960*100
$fourCol: 33.333333333%; //320/960*100
$fiveCol: 41.666666667%; //400/960*100
$sixCol: 50%;// 480/960*100
$sevenCol: 58.333333333%;// 560/960*100
$eightCol: 66.666666667%;// 640/960*100
$nineCol: 75%;// 720/960*100
$tenCol: 83.333333333%;// 800/960*100
$elevenCol: 91.666666667%;// 880/960*100
$twelveCol: 100%; // 960/960*100
